<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- JS -->
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
<!-- CSS -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/user/password.css}">


<title>パスワード変更画面</title>
</head>
<body class="bg-secondary">
    <div class="text-center">
		<form id="signup-form" method="post" th:action="@{/password}" class="form-password" th:object="${passwordForm}">
		    <h1 class="text-center">パスワード確認画面</h1>
		    <!-- 現在のパスワード -->
			<div class="form-group">
				<label for="oldpassword">現在のパスワード入力</label>
				<input type="password" class="form-control" style="text-align:center" th:field="*{oldPassword}" th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{oldPassword}"></div>
			</div>
			<!-- 新しいパスワード -->
			<div class="form-group">
				<label for="newPassword">新しいパスワード入力</label>
				<input type="password" class="form-control" style="text-align:center" th:field="*{newPassword}" th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{newPassword}"></div>
			</div>
			<!-- 新しいパスワード確認 -->
			<div class="form-group">
				<label for="newConfirmPassword">新しいパスワード確認</label>
				<input type="password" class="form-control" style="text-align:center" th:field="*{newConfirmPassword}" th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{newConfirmPassword}"></div>
			</div>
			
			<!-- 変更ボタン -->
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
					変更する
				</button>

				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-body" id="exampleModalLabel">変更する</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								本当にパスワードを変更しますか？
							</div>
							<div class="modal-footer">
							    <button type="submit" class="btn btn-primary" name="update">はい</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal">いいえ</button>
							</div>
						</div>
					</div>
				</div>
	    </form>
	</div>
</body>
</html>
