<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
			<meta charset="UTF-8"></meta>
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<!-- CSS -->
			<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
			<link rel="stylesheet" th:href="@{/css/user/workList.css}">
			<!-- JS -->
			<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
			<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
			<title>該当月勤務情報画面</title>
	</head>
	<body class="light">
	    <h1 class="text-center">勤務情報一覧</h1>
		<div class="text-center">
			<thead>
				<tr>
					<th class="th-width">ユーザー名</th>
					<th class="th-width">勤務日</th>
					<th class="th-width">勤務地</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</div>
    </div>
	</body>
</html>